.tpopup {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      width: 100vw;
      height: 100vh;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 2;
      visibility: hidden;
      opacity: 0;
      overflow: hiden;
      transition: 0.64s ease-in-out;
    }
    .tpopup-inner {
      position: relative;
      bottom: -100vw;
      right: -100vh;
      display: flex;
      align-items: center;
      max-width: 800px;
      max-height: 600px;
      width: 60%;
      height: 80%;
      background-color: #fff;
      transform: rotate(32deg);
      transition: 0.64s ease-in-out;
    }
    .tpopup__photo {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      width: 40%;
      height: 100%;
      overflow: hidden;
    }
    .tpopup__photo img {
      width: auto;
      height: 100%;
    }
    .tpopup__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 60%;
      height: 100%;
      padding: 4rem;
    }
    .tpopup__text h1 {
      font-size: 3.8rem;
      font-weight: 600;
      margin-bottom: 2rem;
      text-transform: uppercase;
      color: #0A0A0A;
    }
    .tpopup__text p {
      font-size: 1.2rem;
      color: #686868;
      line-height: 1.5;
    }
    .tpopup:target {
      visibility: visible;
      opacity: 1;
    }
    .tpopup:target .tpopup-inner {
      bottom: 0;
      right: 0;
      transform: rotate(0);
    }
    .tpopup__close {
      position: absolute;
      right: -1rem;
      top: -1rem;
      width: 3rem;
      height: 3rem;
      font-size: 0.875rem;
      font-weight: 300;
      border-radius: 100%;
      background-color: #0A0A0A;
      z-index: 4;
      color: #fff;
      line-height: 3rem;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
    }